<div class="row mt-5" novalidate [formGroup]="form">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="" [ngClass]="{'text-light': temaOscuro}">Nombre de usuario</label>
        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Usuario" formControlName="txtUsu">
        <label for="" [ngClass]="{'text-light': temaOscuro}">Contraseña</label>
        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Contraseña" formControlName="txtContra">
        <a name="" id="" class="btn btn-primary mt-2" role="button">Iniciar sesión</a>
      </div>
    </div>
    <div class="col-md-4"></div>
</div>
